// colors
$text-color: #1d1d1f;
$dark-accent: #194787;
$med-accent: #438dd8;
$light-accent: #a9caec;
$lightest-accent: #cfe1f4;

$light-accent-2: #ecd4a9;

// fonts
$main-font: 'Roboto' sans-serif;
$title-font: 'Barlow' sans-serif;
$accent-font: 'Roboto Mono', monospace;