// colors
$text-color: #1d1d1f;
$dark-accent: #194787;
$med-accent: #438dd8;
$light-accent: #a9caec;
$lightest-accent: #dceaff;

$tag-color-1: #ebb343;
$tag-color-2: #71bc6f;
$tag-color-3: #ec647a;
$tag-color-4: #9149ab;

// fonts
$main-font: "Roboto";
$title-font: "Barlow";
$accent-font: "Roboto Mono", monospace;
